body {
    margin: 0;
    font-family: sans-serif;
}

.sect1 {
    display: flex;
}

.video-background {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -10;
}

.video-background video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    pointer-events: none;
}

.content {
    position: relative;
    top: 10rem;
    z-index: 1;
    color: white;
    text-align: center;
}

#zomato {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    font-weight: 900;
    margin: 0;
}

.sub-det1 {
    font-size: 3rem;
    font-weight: 900;
    margin: 1rem 0 0 0;
}

.sub-det2 {
    font-size: 3rem;
    font-weight: 900;
    margin: 0 0 1rem 0;
}

.sub-det3,
.sub-det4 {
    font-size: 1rem;
    font-weight: 700;
    margin-top: -.4rem;
}

.buttons {
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 2rem;
}

.playstore img,
.applestore img {
    z-index: 100;
    width: 11rem;
    height: 4rem;
    border: 1px solid white;
    border-radius: 12px;
    transition: all 0.3s ease-in-out;
}

.playstore img:hover,
.applestore img:hover {
    transform: scale(1.1);
}

.bounce {
    z-index: 100;
    background: transparent;
    animation: bounce 2s infinite;
}

@keyframes bounce {

    0%,
    100% {
        top: 0;
        transform: translateY(0);
        animation-timing-function: ease-in;
    }

    50% {
        transform: translateY(20px);
        animation-timing-function: ease-out;

    }
}

/* Section 2 */
.sect2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.background-img {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.background-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.images-sect img {
    position: absolute;
}

.burger {
    top: 135%;
    left: 10%;
    width: 20%;
    height: 40%;
}

.pizza {
    top: 160%;
    right: 10%;
    width: 20%;
    height: 40%;
}

.momos {
    top: 105%;
    right: 10%;
    width: 20%;
    height: 40%;
}

.leaf {
    top: 110%;
    left: 30%;
    width: 3%;
    height: 5%;
}

.tomato {
    top: 190%;
    left: 25%;
    width: 3%;
    height: 6%;
}

/* Section 3 */
.sect3 {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 100vh;
    background: linear-gradient(0deg, #ffffff 0%, #ffedef 100%);
}

.heading p {
    font-size: 2rem;
    font-weight: bolder;
    color: #ef4f5f;
    text-align: center;
    padding-top: 2rem;
}

.sub-head p {
    font-size: medium;
    font-weight: 300;
    color: #596378;
    text-align: center;
    margin-top: 0;
}

.cards {
    display: flex;
}

/* Left Side */
.left-side {
    display: flex;
}

.healthy,
.veg-mode,
.gift-card,
.plan-party {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    width: 7rem;
    height: 7rem;
    border-radius: 12px;
    border: 1px solid #e5e7eb;
    box-shadow: 4px 4px 10px #dbdfe7;

}

.healthy img,
.veg-mode img,
.gift-card img,
.plan-party img {
    width: 70%;
    height: 70%;
}

.healthy p,
.veg-mode p,
.gift-card p,
.plan-party p {
    color: black;
    text-align: center;
    font-size: 15px;
}

/* Middle Part */
.middle {
    position: relative;
    display: flex;
    justify-content: center;

}

.middle img {
    width: 60%;
    height: 60%;
}

.schedule {
    position: absolute;
}

.schedule img {
    width: 10%;
    height: 10%;
}

.schedule p{
    position: absolute;
    color: black;
    font-size: 15px;
    text-align: center;
}

/* Footor */

footer {
    position: static;
    bottom: 0;
    height: 40rem;
    background: black;
}

.fot-heading {
    display: flex;
    justify-content: center;
    align-items: end;

}

.columns {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 2rem;
    margin: 15rem 1rem 0 0rem;

}

h2,
p {
    color: white;
}

.links img {
    border: 1px solid white;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
}

hr {
    width: 60%;
}

.info {
    display: flex;
    justify-content: center;
}

.info p {
    text-align: start;
    font-size: 10.8px;
}